* {
    --text-color: #fcfcfd;
    --body-bg: #eeeff4;
    --color-primary: #0052fc;
    --color-primary-dark: #4a78d5;
    --color-secondary: #252c6a;
    --border-radius: 4px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
a {
    text-decoration: none;
}
.container {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #ffffff;
    color: var(--text-color);
}

.Register {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(229, 233, 240, 0.4);
}

.navigation {
    padding: 24px;
    position: absolute;
    width: 25%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: #101828;
}
.navigation-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}
.navigation-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
}
.navigation-logo img {
    width: 32px;
    height: 32px;
}
.navigation-logo p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: var(--text-color);
}
.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    width: 100%;
    margin-top: 80px;
}
.navigation ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
}
.navigation ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    padding: 0px;
    gap: 12px;
    height: 24px;
}
.navigation ul li a .icon ion-icon {
    width: 24px;
    height: 24px;
}
.navigation ul li a .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #98a2b3;
}
.navigation ul li:hover {
    width: 100%;
    background: #1d2939;
    border: 1px solid #667085;
    border-radius: 8px;
}

/*************************** MAIN BAR *******************/
.main {
    position: absolute;
    top: 0px;
    left: 25%;
    width: 75%;
}
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0px;
    padding: 0px 24px 16px;
    border-bottom: 1px solid #d0d5dd;
}
.welcome-note {
    font-weight: 550;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #1d2939;
}
.topbar--right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    padding: 0;
}
.session-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.session-container {
    padding: 8px 0px;
    gap: 16px;
}
.session-container label,
.session-year option,
.calendar-container .date {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #344054;
}
.session-year,
.calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #f2f4f7;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    height: 32px;
}
.session-year {
    padding: 4px 12px;
    gap: 12px;
}
.calendar-container {
    padding: 8px 16px;
    gap: 12px;
}
.calendar-container .icon {
    width: 20px;
    height: 20px;
}
.calendar-container .line {
    width: 1px;
    height: 16px;
    background: #d0d5dd;
}
/********** MIDDLE BAR ****************/
.middlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin-top: 19px 0px;
    padding: 0px 24px;
}
.academic-details,
.add-edit-course {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 16px;
}
.admission-mode,
.semester {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;
}
.admission-mode label,
.admission-mode option,
.semester label,
.semester option {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #344054;
}
.admission-mode select,
.semester select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 12px;
    background: #f2f4f7;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    height: 32px;
}
.add-edit-course button {
    width: 153px;
    height: 44px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}
.add-course-button {
    background: #0052fc;
    border: 1px solid #0052fc;
}
.add-course-button a {
    color: #ffffff;
}
.edit-course-button {
    background: #ffffff;
    border: 1px solid #d0d5dd;
}
.add-edit-course button:hover {
    background-color: var(--color-primary-dark);
}
.add-edit-course button:active {
    transform: scale(0.98);
}

/************** LAST BAR *****************/

.form--hidden {
    display: none;
}
.lastbar {
    margin-top: 36px;
}

.table-box {
    margin-top: 16px;
    width: 100%;
    height: 620px;
    padding: 0px 24px;
}
.table-box table {
    width: 100%;
}
.table-box table tr th {
    padding: 16px 12px;
    font-size: 18px;
    text-align: center;
    color: #101828;
}
.table-box table tr td {
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 16px 12px;
    text-align: center;
    font-size: 16px;
    color: #475467;
}

table,
th,
td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: rgb(208, 213, 221, 0.4);
}

/************** Add course form section *********************/
.addCourseform {
    position: absolute;
    top: 160px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 515px;
    margin: 2rem;
    padding: 40px;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 3px rgba(11, 19, 36, 0.1),
        inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background: #ffffff;
    color: #1d2939;
}
.add-course-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    z-index: 0;
}
.add-course-form-header .logo {
    width: 40px;
    height: 40px;
}
.add-course-form-header .header-text {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: #1d2939;
    margin-bottom: 5px;
}
.form__input-group {
    margin-bottom: 1rem;
}
.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__button {
    width: 100%;
    padding: 10px 18px;
    border: 1px solid #0052fc;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background: #0052fc;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.form__button a {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.form__button:hover {
    background-color: #4a78d5;
}
.form__button:active {
    transform: scale(0.98);
}
.fullname {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.close-circle {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 451px;
    top: 40px;
}

/************** pop-up add course *****************/
.lastbar-addCourse-container {
    position: absolute;
    top: 349px;
    left: 40%;
    width: 265px;
    height: 295px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px 16px;
    gap: 24px;
    background: #fcfcfd;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 3px rgba(11, 19, 36, 0.1),
        inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.form--hidden {
    display: none;
}

.lastbar-text {
    margin: auto;
    width: 180px;
    height: 179px;
}

.course-logo ion-icon {
    width: 120px;
    height: 120px;
    color: #287bff;
}

.lastbar-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #475467;
    height: 48px;
}
