* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --text-color: #FCFCFD;
    --blue: #287bff;
    --white: #fff;
    --grey: #101828;
    --black1: #222;
    --black2: #999;
}

.container {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem; 
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background: #0052FC;
}

.form__button a {
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    text-decoration: none;
}

.form__button:hover {
    background-color: #4a78d5;
}

.form__button:active {
    transform: scale(0.98);
}
.navigation {
    padding: 24px;
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #101828;
}
.navigation-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 372px;
}
.navigation-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
}
.navigation-logo img {
    width: 32px;
    height: 32px;
}
.navigation-logo p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #FCFCFD;
}
.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
    width: 100%;
    margin-top: 80px;
}
.navigation ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
}
.navigation ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #FCFCFD;
    padding: 0px;
    gap: 12px;
    height: 24px;
}
.navigation ul li a .icon ion-icon {
    width: 24px;
    height: 24px; 
}
.navigation ul li p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px
}
.navigation ul li:hover {
    width: 100%;
    background: #1D2939;
    border: 1px solid #667085;
    border-radius: 8px;
}

/***************** TOP BAR SECTION ******************/
.main {
    position: absolute;
    top: 0px;
    left: 359px;
    width: 75%; 
}
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 5px 24px;
    border-bottom: 1px solid #d0d5dd;
}
.welcome-note {
    font-weight: 550;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #475467;
}
.topbar--right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}
.session-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 16px;
}
.session-con label,
.session--year option,
.calendar-con .date,
.admission-mode label,
.admission-mode option,
.semester label,
.semester option {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #344054;
}
.session--year,
.calendar-con,
.admission-mode select,
.semester select  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #f2f4f7;
    border: 1px solid #d0d5dd;
    border-radius: 8px;
    height: 32px;
}
.session--year {
    padding: 4px 8px;
}
.calendar-con {
    padding: 8px;
}
.calendar-con .icon {
    width: 24px;
    height: 24px;
    margin-top: 5px;
}
.calendar-con .line {
    width: 1px;
    height: 16px;
    background: #D0D5DD;
}
.calendar-con .date {
    padding-left: 5px;
}

/************* MIDDLE BAR **************/
.middlebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin: 32px 0px;
    padding: 0px 24px;
}
.academic-details,
.add-edit-course {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.add-course_button,
.edit-course_button {
    display: none;
    width: 153px;
    height: 44px;
    padding: 10px 32px;
}
.add-course_button a,
.edit-course_button a {
    font-size: 16px;
}
.admission-mode,
.semester {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.admission-mode select,
.semester select {
    padding: 4px 12px;
}

/****** Last bar ***********/
.lastbar-container {
    position: absolute;
    top: 349px;
    left: 40%;
    width: 265px;
    height: 295px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px 16px;
    gap: 24px;
    background: #FCFCFD;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 3px rgba(11, 19, 36, 0.1), inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.form--hidden {
    display: none;
}

.lastbar-text {
    margin: auto;
    width: 180px;
    height: 179px;
}

.course-logo ion-icon {
    width: 120px;
    height: 120px;
    color: #287bff;
}

.lastbar-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #475467;
    height: 48px;
}

