<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Kanit:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="navigation">
            <div class="navigation-con">
                <div class="navigation-logo">    
                    <img src="images/cgpa logo.png" alt="logo">
                    <p>CGPA Calculator</p>    
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon"><ion-icon name="apps-outline"></ion-icon></span>
                            <span class="title">Overview</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                            <span class="title">Courses</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
                            <span class="title">Analytics</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="#">
                            <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                            <span class="title">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                            <span class="title">Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                            <span class="title">Log Out</span>
                        </a>
                    </li>
                </ul>    
            </div>
        </div>

        <!-- main -->
        <div class="main">
            <div class="topbar">
                <p class="welcome-note">Welcome <span class="welcome-name">Emeka</span></p>
                <div class="topbar--right">
                    <div class="session-con">
                        <label for="session">Session</label>
                        <select name="session" id="" class="session--year">
                            <option value="2021/2022">2021/2022</option>
                            <option value="2021/2022">2021/2022</option>
                            <option value="2021/2022">2021/2022</option>
                            <option value="2021/2022">2021/2022</option>
                            <option value="2021/2022">2021/2022</option>
                        </select>
                    </div>
                    <div class="calendar-con">
                        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                        <div class="line"></div>
                        <div class="date">23/05/23</div>
                    </div>
                </div>
            </div>
            <div class="middlebar">
                <div class="academic-details">
                    <div class="admission-mode">
                        <label for="admission-mode">Admission mode</label>
                        <select name="admission-mode" id="">
                            <option value="UTME">UTME</option>
                            <option value="DE">DE</option>
                        </select>
                    </div>
                    <div class="semester">
                        <label for="semester">Semester</label>
                        <select name="semester" id="">
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                        </select>
                    </div>
                </div>
                <div class="add-edit-course">
                    <button class="form__button add-course_button"><a href="">Add course</a></button>
                    <button class="form__button edit-course_button"><a href="">Edit course</a></button>
                </div>
            </div>
            <div class="lastbar">
                <div class="lastbar-addCourse-container form--hidden">
                    <div class="lastbar-text">
                        <div class="course-logo"><ion-icon name="book-outline"></ion-icon></div>
                        <p>Add your courses to get started</p>
                    </div>
                    <button class="form__button" type=""><a href="">Add a course</a></button>
                </div>
                <div class="table-box form--hidden">
                    <table>
                        <tr>
                            <th>S/N</th>
                            <th>Course code</th>
                            <th>Course title</th>
                            <th>Course unit</th>
                            <th>Grade</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>mth456</td>
                            <td>enginerring and calculation</td>
                            <td>4</td>
                            <td>A</td>
                        </tr>
                    </table>
                </div>
                <div class="add-form-section">
                    <form class="addCourseform" id="addCourseForm" method="get">
                        <div class="header-section">
                            <div class="logo-section">
                                <div class="course-logo"><ion-icon name="book-outline"></ion-icon></div>
                                <div class="close-logo"><ion-icon name="close-outline"></ion-icon></div>
                            </div>
                            <p class="form__intro ">Add course</p>
                        </div>
                        
                        <label for="course-title" class="course-title">Course <input type="text" class="form__input" name="course-title" placeholder="welding and fabrication"></label>
                        
                        
            
                        <div class="course-code-unit">
                            <label for="course-code" class="course-code">Course code</label>
                            <input type="text" name="course-code" placeholder="MTH123"> 
                    
                            <label for="course-unit" class="course-unit">Course unit</label>
                            <input type="number" name="course-unit" placeholder="1">                       
                        </div>
            
                        <label for="grade" class="grade">Grade</label>
                        <input type="text" name="grade" placeholder="A">
                        
                        <button class="form__button" type="submit"><a href="./dashboard.html">Register</a></button>
                    </form>
                </div>
            </div>            
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="./dashboard.js"></script>
</body>
</html>