<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dshboard</title>

</head>
<body>
   <div class="dark-background">
    <div class="nav-header">
        <div class="nav-logo">
            <img src="./images/cgpa logo.png" alt="">
            <span>CGPA Calculator</span>
        </div>
        <div class="nav-list">
            <ul>
                <li>Overview</li>
                <li>Courses</li>
                <li>Analytics</li>
                <li>Settings</li>
            </ul>
        </div>
    </div>
    <div class="down">
        <img src="" alt="">
        <h3>Emeka Bear</h3>
        <p><a href="#">Emekabeer@gmail.com</a></p>
        <!--arrow icon-->
    </div>
   </div>
   <div class="white-background"></div>
</body>
</html>